<p><%= t("user_mailer.registration_confirmation.greeting", name: @user.first_name) %>,</p>
<p>
  <%= t("user_mailer.registration_confirmation.nearly_there") %>
</p>
<p>
  <%= t("user_mailer.registration_confirmation.thanks") %>
</p>
<p>
  <%= link_to t("user_mailer.registration_confirmation.confirm_email"),
    confirm_email_user_url(@user.confirm_token) %>
</p>
<p>
  <%= t("user_mailer.registration_confirmation.salutation") %><br/>
  <%= t("user_mailer.registration_confirmation.signed") %>
</p>
<p>
  <%= t("user_mailer.disclaimer") %>
</p>
