- action = @visit.persisted? ? "update" : "create"

= content_for :extra_scripts do
  = javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyDHLp647qkwqajJcwFrqh61S0dsY0sD7g0"

= form_for @visit, url: { action: action } do |f|
  #visit-map

  .form-fields
    .form-group
      = f.label :location, "Where are you going?"
      = f.text_field :location, class: "form-control", autofocus: true
      %small Type an address, city or ZIP, or click on the map

    .form-group
      = f.label :distance, "Find hosts within"
      = f.number_field :distance, class: "form-control"
      %small miles
      %div.pull-right
        %button#visit-map-search.btn.btn-success
          %span.fa.fa-search
          Find on map

    %br
    %hr

    .form-group
      %label What nights are you staying?
      = f.hidden_field :start_date, class: "form-control"
      = f.hidden_field :end_date, class: "form-control"
      %div.datepicker
      %small.dateText Staying over these nights.

    .form-group
      = f.label :num_travelers, "How many total travelers?"
      = f.select :num_travelers,
        options_for_select((1..10).zip(1..10), @visit.num_travelers || nil),
        {},
        { class: 'form-control' }
      %small Including yourself.

  = f.submit "Contact Hosts", class: 'btn btn-success btn-block btn-lg'
