<ul id="faq">
  <li>
    <h3>What is <%= site_name %>?</h3>
    <blockquote>
      <%= site_name %> is a room sharing service for the grassroots wing of <%= cause_name %>'s election campaign, helping volunteers find free lodging while on the road.
    </blockquote>
  </li>

  <li>
    <h3>How does it work?</h3>
    <blockquote>
      Both hosts and guests sign up using their existing Facebook or Google account, then fill out a simple profile with their email address, first name, and phone number.
      <br/><br/>
      Hosts: Click on the "I CAN HOST" - register using your zip code, dates available, number of spaces, and a brief message about the nature of the accommodations you have to offer (E.g. twin bed, dog lives in home, shared bathroom…). You will receive a daily email each evening with contact information for all of the volunteers interested in lodging with you. If a guest is interested in lodging with you in the next 48hours you will be sent their contact information immediately. Please reply to requests as quickly as possible and update your account to accurately reflect availability. 
      <br/><br/>
      Guests: Click on "FIND A HOST" - specify the zip code you are traveling to, along with the dates and total number of spaces requested. You will then be shown a list of potential hosts sorted by distance, and can choose to contact any of the hosts listed (if there are no hosts available, your search will be saved to make it easy to check back later). The host you have contacted will reach out to you by phone or email to arrange accommodations and any other details of your stay. 
      </blockquote>
  </li>
  <li>
    <h3>I contacted a host, what next?</h3>
    <blockquote>
      Your host will reach out to you to coordinate and finalize accommodations. You should hear from your host within 24 hours. If you have requested a stay starting within the next 48 hours your host should be reaching out to you right away. 
    </blockquote>
  </li>
  <li>
    <h3>How many volunteers can I host?</h3>
    <blockquote>
      That's up to you! Your host profile will stay listed for as long as you like. Whether you accept a given request or not is entirely up to you, as HillaryBNB just helps guest volunteers find you.
    </blockquote>
  </li>
  <li>
    <h3>What if I cannot host on certain days of the week or weekends?</h3>
    <blockquote>
      Create separate listings for each span of days that you are available to host. For example if you know you only want to host on weekends - create a separate listing for each weekend that you have available for visitors.
    </blockquote>
  </li>
  <li>
    <h3>As a host, how can I stop receiving requests?</h3>
    <blockquote>
      Sign in to HillaryBNB and delete your posting(s) OR use the “unsubscribe” link within any email from HillaryBNB.
    </blockquote>
  </li>
  <li>
    <h3>Can I use <%= site_name %> if I don't have a Facebook or Google account?</h3>
    <blockquote>
      Not at this time. By requiring signing up with Facebook or Google, we ensure the ability of hosts to verify the identity of guests on social media. We strongly encourage volunteers and hosts to connect over social media before reaching a hosting agreement.
    </blockquote>
  </li>
  <li>
    <h3>Who runs <%= site_name %>?</h3>
    <blockquote>
      A bunch of volunteer coders and activists. We are a non-profit, unincorporated group of people just trying to do our part to help <%= cause_name %> get elected.
    </blockquote>
  </li>
  <li>
    <h3>What is your privacy policy?</h3>
    <blockquote>
      <a href="<%= privacy_policy_link %>" target="_new">You can read it here!</a>
    </blockquote>
  </li>
  <li>
    <h3>How can I report a bug or request a feature?</h3>
    <blockquote>
      Please report bugs and request features using <a href="<%= bug_report_link %>" target="_new">GitHub</a>.
    </blockquote>
  </li>
  <li>
    <h3>How can I get involved?</h3>
    <blockquote>
      Please contact us by email at <%= email_contact %>.
    </blockquote>
  </li>
  <li>
    <h3>Is <%= site_name %> open source?</h3>
    <blockquote>
      Yes! <%= site_name %> is licenced under the GNU Affero GPL 3+ open source license. The source is available on <a href="<%= github_link %>" target="_new">GitHub</a>.
    </blockquote>
  </li>
</ul>
