%h1 Hillary BNB Stats
- if current_user && current_user.admin
  #ul
    %li
      %p Users: #{User.count}
    %li
      %p Hostings: #{Hosting.count}
      %p Combos: #{Hosting.group(:state, :city, :zipcode).count}

    %li
      %p Contacts: #{Contact.count}

    %li
      %p Visits: #{Visit.count}
      %p Combos: #{Visit.group(:state, :city, :zipcode).count}
- else
  Unauthorized.  Must be an admin.
