- action = @hosting.persisted? ? "update" : "create"

= form_for @hosting, url: { action: action } do |f|
  .form-fields
    .form-group
      = f.label :zipcode, "Where are you located?"
      = f.text_field :zipcode, class: 'form-control', placeholder: "5-digit zip code"
      %span.hosting Your zip code.

    .form-group
      = f.label :accomodation_type, "What kind of accomodation are you offering?"
      .multiline-radio
        = f.label :accomodation_type_home, :display => 'inline-block' do
          = f.radio_button :accomodation_type, 'home', :checked => true
          %span.hosting Room or bed in my home
        = f.label :accomodation_type_home, :display => 'inline-block' do
          = f.radio_button :accomodation_type, 'hotel'
          %span.hosting Hotel room or other accommodations

    .form-group
      = f.label :max_guests, "How many can you host?"
      = f.select :max_guests,
        options_for_select((1..10).zip(1..10), @hosting.max_guests || nil),
        {},
        {class: 'form-control'}
      %span.hosting Preferred maximum number of guests.

    .form-group
      %label What nights can you host?
      = f.hidden_field :start_date, class: "form-control"
      = f.hidden_field :end_date, class: "form-control"
      %div.datepicker
      %span.dateText Hosting these nights

    .form-group
      = f.label :comment, "Please share any additional information about your accommodations:"
      = f.text_field :comment, class: 'form-control'
      %span.hosting e.g. number of available beds, cost per person in shared hotel room or rental house, or accessible hours.

  = f.submit "Save", class: 'btn btn-success btn-block btn-lg'
