<!DOCTYPE html>
<!--
HHHHHH       →→HHHH
HHHHHH       →→→→HH
HHHHHH       →→→→→→→
→→→→→→→→→→→→→→→→→→→→→→      Git out the vote!
→→→→→→→→→→→→→→→→→→→→→→→→
→→→→→→→→→→→→→→→→→→→→→→      https://boards.greenhouse.io/hillaryforamerica
HHHHHH       →→→→→→→
HHHHHH       →→→→HH
HHHHHH       →→HHHH
-->
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <%= csrf_meta_tags %>

  <% description = "Home sharing for " + cause_name +  " supporters. Helping connect volunteers out on the campaign trail with a place to stay. Sign up today as either host or traveler!" %>

  <meta property="og:title" content="<%= site_hostname(request) %>" />
  <meta property="og:description" content="<%= description %>" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://<%= site_hostname(request) %>" />
  <meta property="og:image" content="<%= image_url site_image_name %>" />

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:description" content="<%= description %>" />

  <title><%= site_name %></title>
  <%= favicon_link_tag '/favicon.ico' %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <meta name="google-site-verification" content="Rf4-_xxiyhJpGWzPBcEhqvFbJi22lrm_w2Khg8XekZI" />
</head>

<body id="<%= params[:controller] %>" class="<%= params[:action] %>">

  <main class="center-block page">
    <% if alert %>
      <p class="alert"><%= alert %></p>
    <% end %>

    <% if flash[:notice] %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>

    <% if flash[:errors] %>
      <% flash[:errors].each do |error| %>
        <div class="alert alert-danger"><%= error %></div>
      <% end %>
    <% end %>

    <div class="content">
      <%= yield %>
    </div>

    <div id="fb-root"></div>
    <div id="twitter-wjs"></div>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <span class="copyright">&copy; <%= site_name %> <%= Time.now.year %></span>
          </div>
          <div class="col-md-4">
            <%= link_to "Privacy Policy", privacy_policy_path %>
          </div>
          <div class="col-md-4">
            <ul class="list-inline quicklinks">
              <li><%= link_to "FAQ", page_path('faq') %></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </main>
</body>
</html>
